// Place all the styles related to the album_collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.album-collections {
  // Place scoped styles here
}